html, body {
    height: 100%;
    margin: 0;
}


.flex-row{
    display: flex;
    height: 25%;
    background: peachpuff;
    border: 4px solid brown;
}

.flex-row > *{
    flex-grow: 1;
    background: lightblue;

}

 /* make sure the height of the button is 30 percent of
 it's flex-row
 */
.reset-button{
    height: 30%;

}


 /*
.grid-wrapper{
    width: 30%;
    height: 60%;
}*/


.spacer{
 background: peachpuff;
 border: 4px solid brown;
}

.grid-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
   /* border: 4px solid black;
    
    justify-content: center;
    align-items: center; */
}

/* all of the little boxes in the 16x16 grid */
.grid-item{
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;

    /* Basis helps the boxes fit height wise in the container*/
    flex-basis: calc(100%/16);
}

.grid-item:hover{
    background-color: rgb(0, 0, 0);
}

