.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column;*/

    /*
    justify-content:space-evenly;
    align-items: center;*/
    Height: 100%;
    margin: 0;
}

.spacer{
 margin-bottom: 10%;
}
/* .page-container > *{
}*/


.page-container > *{
    flex-grow: 1;
}


.reset-button{
    width: 50%;

}


/*











*/






.grid-container{
    display: flex;
    flex-wrap: wrap;
   /* border: 4px solid black;
    
    justify-content: center;
    align-items: center; */
}

.grid-container  > * {
    height: 5px;
    flex-basis: calc(100%/16);
    box-sizing: border-box;
    border: 1px solid black;
    /* gap: 1px; */
}

.grid-item:hover{
    background-color: rgb(0, 0, 0);
}

